# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
1

/app/generated/prisma
.trigger
examples/
dump.json

# Database backups
backups/
*.dump
*.sql.gz

# Sentry Config File
.env.sentry-build-plugin

.gemini/
gha-creds-*.json

# Public Content
content/social/
